@font-face {
  font-family: 'Agency FB';
  src: url('/images/global/AGENCYR.TTF');
}

.tab-content {
  height: 100%;
}

.leftbar-icons {
  height: 30px;
  width: 30px;
}

.nav-tabs.nav-justified > li {
  margin-right: 0;
  height: 5%;
  border-radius: 0px;
}

.nav-justified > li > a:hover {
  background-color: #777783;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #E4E6E9;
    border-radius: 0px;
    padding: 5px 10px 10px 5px;
  }

  .nav-justified > li > a:hover {
    background-color: #777783;
  }
}

.dashboard-content {
  width: 100%;
  padding:  5px;
}

.deviceslist {
  background-color: #E4E6E9;
  float: left;
  height: 100%;
}

.left-bar .nav > li > a {
  color: #ffffff;
  position: relative;
  display: block;
  background-color: #e4e6e9;
  border-bottom: 1px solid #ccc;
}
.left-bar {
  width: 5%;
  float: left;
  border: 1px solid #777783;
  border-top: none;
  border-left: none;
  height: 100%;
  background-color: #E4E6E9;
}

.right-content {
  background-color: #777783;
  height: 100%;
  overflow: auto;
}

.btn-gray {
  color: #E4E6E9;
  background-color: #777783;
}
/*#navigation-AOE {
	height: 7.5%;
}*/
.nav-header{
	height: 10%;
}

#tabpanel-AOE {
  height: 88%;
  width: 100%;
}
.footer{
	height: 15;
}
/*
#footer-AOE {
	padding-left: 5px;
	text-align: left;
	width: 100%;
	position: absolute;
	color: #E4E6E9;
	font-size: 13px !important;
}*/
#footer-AOE span {
  color: #E4E6E9;
  font-size: 13px !important;
}

.right-inner-addon input {
  background-image: url('/images/icons/SearchIcon-30.png');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 20px;
  outline: 0;
}

.add-tab a {
  background-color: #E4E6E9 !important;
  height: 20px;
}

.tab > a {
  background-color: #777783 !important;
  padding: 5px 60px 10px 10px !important;
}

.tab-panel {
  background-color: #777783;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.notification-position {
  background-color: #ff0000;
  right: 9px;
  top: 14px;
  z-index: 1;
  position: absolute;
}

.grid {
  align: center;
  height: 150px;
  width: auto;
  border: 1px solid #fff;
  color: #fff;
}

.close-tab-icon {
  right: 10px;
  top: 10px;
  z-index: 1;
  position: absolute;
}

.close-tab-icon img {
  height: 10px;
  width: 10px;
  cursor: pointer;
  background-color: #777783;
}

.add-tab-icon-plus {
  height: 20px;
  width: 20px;
  margin-bottom: 5px;
}

.tab-panel > div > ul{
	height:150px;
}

.nav > li > a {
  color: #ffffff;
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #777783;
}

.left-bar .nav > li > a:focus, .left-bar .nav > li > a:hover {
  text-decoration: none;
  background-color: #ccc;
}

.nav-tabs {
  background-color: #E4E6E9;
  border: none;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  border: none;
  border-radius: 0px;
  margin-right: 2px;
  line-height: 1.42857143;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #8CC63E;
  cursor: default;
  background-color: #777783;
  border: 1px solid #777783;
  border-bottom-color: transparent;
}

.dropdown-menu > li > span {
  display: block;
  cursor: pointer;
  padding: 3px 20px 0px 0px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #777783;
  white-space: nowrap;
}

.dropdown-menu > li > span:focus, .dropdown-menu > li > span:hover {
  color: #777783;
  text-decoration: none;
  background-color: #8CC63E;
}

.dropdown-menu > .active > li > span, .dropdown-menu > .active > li > span:focus, .dropdown-menu > .active > li > span:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu:before{
  position: absolute;
  margin-top: -27px;
  right:0;
  display: inline-block;
  border-bottom:10px solid #fff;
  border-top:10px solid #fff;
  border-left:20px solid #fff;
  border-right:20px solid #fff;
  content: '';
}
.nav-search {
  width: 100% !important;
}

.navbar-form .input-group > .form-control {
  width: 80%;
  left: 60px;
}

.nav-header {
  padding: 5px;
}

.nav-border {
  border: 1px solid #777783;
  border-top-style: none;
  width: 5.33333333% !important;
  border-bottom-style: none;
  text-align: center;
  color: #777783;
  height: 100%;
}

.aoe-user {
  text-align: right;
  color: #777783;
}

.aoeLogo {
  margin: 5px 0 0 0;
  padding: 12px 0 10px 32px;

  height: 30px;
}

.alarmNotifications {
  height: 40px;
  padding: 5px 15px 5px 5px;
}

.adtranLogo {
  margin: 5px 0 5px 0;
  height: 30px;
}



html, body {
  height: 100%;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

html {
  font-family: 'Agency FB';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Agency FB";
  background-color: #777783;
}

.navbar-default {
  background-color: #E4E6E9;
  border-color: #777783;
}

.navbar {
  min-height: 50px;
  position: relative;
  border: 1px solid #777783;
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }

  .navbar {
    border-radius: 0px;
  }

  .navbar-form {
    width: 31%;
  }


  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}

@media (min-width: 1080px)
.modal-lg {
  width: 100%;
  height:100%;
}

.panel {
  margin: 5px;
  overflow: auto;
}

.btn-leftbar:focus, .btn-leftbar:active:focus, .btn-leftbar.active:focus {
  outline: 0 none;
  color: #fff;
}

.btn-leftbar:hover {
  background-color: #8cc36e;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-leftbar {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #777783;
  color: #fff;
  padding: 3px 5px !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 180px;
  padding: 15px;
  margin: 1px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0px;
}

.icon-down {
  transform: rotate(90deg);
  font-size: 14px;
  padding: 10px;
}

.open .col-md-2 {
  background-color: #fff;
  z-index: 1000;
}

