<div class="asset-management-app-list"  >
	<div class="applist-row" >
		<div class="col-md-4 services-app-hieght"   ng-repeat="app in assetList">
			<div ng-dblclick="OnAppClick()" ng-disabled="app.disabled" class="row" draggable app-name="{{app.name}}">
				<div class="col-md-4"><img src="images/icons/AppIcon.png" class="app-icon"/>
				</div>
				<div class="col-md-8">
					<p>
						{{app.name}}
					</p>
					<p>
						{{app.status}}
					</p>
					<i class="add-app-icon glyphicon glyphicon-plus-sign"></i>
				</div>
			</div>
			<span class="badge app-notification-badge" ng-show="app.updateAvailable">!</span>
		</div>
	</div>
</div>
