
	<div class="applibrary-header">
		<p>
			Application Library
		</p>
		<div class="applibrary-search">
			<div class="col-md-1 ">
				<i class="icon-filter glyphicon glyphicon-play"></i>
			</div>
			<div class="col-md-11 right-inner-addon">
				<input type="search" class="form-control " placeholder="Search">
			</div>

		</div>

	</div>
	<section class="call-out">
		<tabset justified="true">
			<tab class="" heading="APPLICATIONS" >

				<div class="app-type-buttons">
					<button class="btn btn-sm btn-gray" ng-click="ShowAppList($event)">
						Network Design
					</button>
					<button class="btn btn-sm btn-gray" ng-click="ShowAppList($event)">
						Asset Management
					</button>
					<button class="btn btn-sm btn-gray" ng-click="ShowAppList($event)">
						Service Assurance
					</button>
					<button class="btn btn-sm btn-gray"  ng-click="ShowAppList($event)">
						Troubleshooting
					</button>

				</div>
				<asset-management ng-show="isAssetOpen"></asset-management>
				<network-design ng-show="isNetworkDesignOpen"></network-design>
				<services ng-show="isServicesOpen" ></services>
				<troubleshooting ng-show="isTroubleshootingOpen"></troubleshooting>
			</tab>
			<tab heading="WORKBOARDS" >

			</tab>

		</tabset>
	</section>
<div class="modal-footer ">
	<button class="btn btn-sm btn-gray pull-left " ng-click="ok()">
		<i class="glyphicon glyphicon-plus-sign"></i> Add to Workboard
	</button>
	<button class="btn btn-sm btn-gray pull-left" ng-click="libraryVisible=!libraryVisible">
		Close
	</button>
</div>
