<div class="left-bar pull-left">
	<ul class="nav  nav-stacked">
		<li>
			<a >
			<button class="btn-leftbar" ng-click="devicesListCollapsed=!devicesListCollapsed">
				<i id="expand-collapse" class="glyphicon glyphicon-chevron-right"></i>
			</button></a>
		</li>
		<li>
			<a > <img class="leftbar-icons" src="images/icons/Devices-48.png"></a>
		</li>
		<li>
			<a > <img class="leftbar-icons" src="images/icons/Networks-48.png"></a>
		</li>
		<li>
			<a > <img class="leftbar-icons" src="images/icons/Templates-20.png"></a>
		</li>
	</ul>
</div>
<div class="deviceslist" collapse-content="!devicesListCollapsed">

	<div class="panel">
		<div class="panel-title">
			Control panel
		</div>

	</div>
</div>
<div class="right-content">
	<tab-panel></tab-panel>
</div>
