<nav class="navbar navbar-default" ng-app="navigation">
	<!-- <div class="container-fluid" id="navigation-AOE"> -->
		<!--navbar header -->
		<!-- <div class="navbar-header ">
			<div class="row "> -->
				<!-- Adtran and AOE logos -->
				<div class="col-md-1 nav-header">
					<img src="images/logos/AdtranLogo.png" class="adtranLogo">
					
				</div>
				<div class="col-md-4 nav-header">
				<img src="images/logos/AOELogo.png" class=" aoeLogo">
				</div>
				<!-- Search Box-->
				<div  class="col-md-4 navbar-form" role="search">
					<div class="right-inner-addon input-group nav-search">
						<input type="search" class="form-control " placeholder="Search">
					</div>
				</div>
				<!-- alarm notifications Icon -->
				<div  class="col-md-1  nav-header nav-border ">
					<img ng-click="" src="images/icons/Alarms.png" class="alarmNotifications">
					<span class="badge notification-position">4</span>
					
				</div>
				<!-- AOE user details -->
				<div class="col-md-2   nav-header  aoe-user">
					<!-- Single button -->
					<div dropdown="" is-open="status.isopen" class="">
						<div class="dropdown-toggle" dropdown-toggle="" ng-click="toggle()" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
							<div class="col-md-10">
								<h4 > Administrator</h4>
							</div>
							<div class="col-md-2 icon-down">
								<i class=" glyphicon glyphicon-play"></i>
							</div>
						</div>
						<!-- dropdown menu -->
						<ul class="dropdown-menu pull-right" >
							<li>
								<span>Help</span>
							</li>
							<li class="divider"></li>
							<li>
								<span>Licenses/Keys</span>
							</li>
							<li class="divider"></li>
							<li>
								<span>AOE Clients</span>
							</li>
							<li class="divider"></li>

							<li>
								<span>Action log</span>
							</li>
							<li class="divider"></li>
							<li>
								<span>About AOE</span>
							</li>
							<li class="divider"></li>
							<li>
								<span>Logout</span>
							</li>

						</ul>
					</div>
				</div>
				<!-- App library Icon-->
				<div   class="col-md-1 pull-right nav-header nav-border">
					<img ng-click="libraryVisible=!libraryVisible" src="images/icons/AppLibraryIcon.png" class="alarmNotifications">
					<app-library  class="applibrary" ng-show="libraryVisible" ></app-library>
				</div>
			<!-- </div>
		</div> -->

	<!-- </div> -->
</nav>